@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blob-top {
  z-index: -10;
  position: absolute;
  top: -20%;
  right: -10%;
}

.blob-bottom {
  z-index: -10;
  position: absolute;
  bottom: -23%;
  left: -10%;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Karla";
  font-weight: 700;
  font-size: 31px;
  text-align: center;
  color: #293264;
  margin: 7px 0;
}

.description {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #293264;
}

.btn {
  background: #4d5b9e;
  border-radius: 15px;
  border: none;
  padding: 16px 28px;
  cursor: pointer;
}

.btn > span {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #f5f7fb;
  padding: 0 35px;
}
